{% extends '_base.html' %}
{% load crispy_forms_tags %}

<title>{% block page_title %}Home Page{% endblock page_title %}</title>
{% block content %}
    <div class="container">
        <h1>Home Page</h1>
        {% if user.is_authenticated %}
            <p>Hello {{ user.username }}</p>
            <p>|
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            </form></p>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </div>

{% endblock content %}

<h1>kir</h1>
{% if user.is_authenticated %}
    <p>Hello {{ user.username }}</p>
    <p>|
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
    </form></p>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}