{% extends '_base.html' %}
{% load crispy_forms_tags %}

<title>{% block page_title %}افزودن کتاب{% endblock page_title %}</title>
{% block content %}
    <div class="container">
                <div dir="rtl">
                    <h1>افزودن کتاب</h1>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mb-3">افزودن</button>
                    </form>
    </div>

{% endblock content %}