{% extends '_base.html' %}
{% load crispy_forms_tags %}

<title>{% block page_title %}{{ book.title }}ویرایش {% endblock page_title %}</title>
{% block content %}
    <div class="container">
                <div dir="rtl">
                    <h1>ویرایش کتاب</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mb-3">ویرایش</button>
                    </form>
    </div>

{% endblock content %}