{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{#{% load book_tags %}#}

<title>{% block page_title %}{{ book.title }}{% endblock page_title %}</title>
{% block content %}
    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                {% if book %}
                    <div class="d-flex justify-content-center">
                        <div class="row w-sm-75 w-100">
                            <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                                <div>
                                    {% if book.cover %}
                                        <img
                                                src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="..."/>
                                    {% else %}
                                        <img src="{% static 'fdb85390-9c08-4b34-9447-863356af88e4 (1).webp' %}"
                                             class="img-fluid rounded-start" alt="..."/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                                <h1>{{ book.title }}</h1>
                                <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ book.author }}</h5>
                                <small class="small my-1"><span class="text-muted">ایجاد کننده: </span>{{ book.user.username }}</small>

                            </div>
                            <div class="col-xs-12 col-md-3 d-flex flex-column">
                                <h3 class="align-self-center pt-2 text-muted align-self-md-end">{{ book.price }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="my-3 p-5 w-sm-75 w-100">
                            {{ book.description|linebreaksbr }}
                        </div>
                    </div>


                {% endif %}

                <div class="d-flex justify-content-center">
                    {% if book.user == user %}
                        <a class="btn btn-info" href="{% url 'book_update' book.id %}">ویرایش</a>
                        <span> | </span>
                        <a class="btn btn-danger" href="{% url 'book_delete' book.id %}">حذف</a>

                    {% endif %}
                    {% if book.user == user %}
                    {% endif %}

                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% if book.comments %}
                            {% for comment in comments %}
                                <div class="border-bottom mb-3">
                                    <h5 class="mb-3">{{ comment.user.username }}</h5>
                                    <p>{{ comment.text }}</p>
                                    {% if comment.recommend %}
                                        <small class="text-muted">این کتاب را پیشنهاد میکنم</small>
                                    {% endif %}
                                    <p class="text-muted">{{ comment.datetime_created }}</p>
                                    <a href="{% url 'edit_comment' book.pk comment.id %}">ویرایش</a>
                                </div>
                            {% endfor %}
                        {% endif %}


                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>نظر خود را وارد کنید:</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}